
.place-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}

.place-order-left, .place-order-right {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
}

.place-order-left input,
.place-order-right input,
.place-order-right button {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}


.multi-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.multi-fields input {
  flex: 1;
  min-width: 48%;
}

.promo-code-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.promo-code-section input {
  width: 100%;
  padding: 14px 15px;
  font-size: 14px;
}

.promo-code-section button {
  padding: 14px 20px;
  font-size: 14px;
  width: 100%;
  background-color: #30bfa0;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.promo-code-section button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.promo-code-section button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(72, 189, 61, 0.6);
}

.cart-total-details p {
  font-size: 14px;
}

.cart-total-details {
  margin: 10px 0;
}

.place-order-right button {
  font-size: 16px;
  padding: 14px 20px;
  margin-top: 20px;
  background-color: #17bc1f;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.place-order-right button:hover {
  background-color: #00ff51; 
  transform: scale(1.05);
}

.place-order-right button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 140, 186, 0.6);
}

@media (max-width: 768px) {
  .place-order {
    flex-direction: column;
  }

  .place-order-left, .place-order-right {
    max-width: 100%;
  }

  .multi-fields input {
    min-width: 100%;
  }

  .place-order-right {
    max-width: 100%;
  }

  .cart-total {
    width: 100%;
  }

  .place-order-right button {
    font-size: 16px;
    padding: 14px 20px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .place-order-left input,
  .place-order-right input,
  .place-order-right button {
    font-size: 12px;
    padding: 10px 12px;
  }

  .multi-fields input {
    font-size: 12px;
  }

  .place-order-right button {
    font-size: 14px;
  }

  .promo-code-section input {
    font-size: 16px;
    padding: 14px 20px;
  }

  .promo-code-section button {
    font-size: 16px;
    padding: 14px 20px;
  }
}
