.header {
    position: relative;
    height: 60vh; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.8; 
  }
  
  .header-contents {
    position: relative;
    z-index: 1;
    color: #000000;
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    animation: fadeInUp 1s ease forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .header-contents h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .header-contents h2 span {
    color: #e5533c;
    text-decoration:underline;
  }
  
  .header-contents p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  .button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
  }  
  
  .header-contents button:hover {
    background-color: #e5533c;
  }
  
  @media (max-width: 768px) {
    .header {
      height: 90vh;
      padding: 1rem;
    }
  
    .header-contents h2 {
      font-size: 1.8rem;
    }
  
    .header-contents p {
      font-size: 1rem;
    }
  
    .header-contents {
      padding: 1rem;
    }
  }
  
  .desktop-video {
    display: block;
  }
  
  .mobile-video {
    display: none;
  }
  
  @media (max-width: 768px) {
    .desktop-video {
      display: none;
    }
  
    .mobile-video {
      display: block;
    }
  }
  
  